body {
  background-color: #A5CFF8;
  font-family: Arimo, sans-serif;
}

#mainNav {
  padding-left: 4px;
}

#titleOfSite {
  color: #FF530D;
  text-decoration: underline;
}

.navBar{
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-family: cursive;
}

a:hover {
  color: #FF530D;
}
/*img {
  display: inline;
}*/

.correct {
  color: green;
}
.incorrect {
  color: red;
}

#allAnswers{
  width: 40%;
}

.response{
  font-size: 35px;
}

#info{
  font-size: 50px;
  color: #FAD187;
}
