/*@import url(https://fonts.googleapis.com/css?family=Arimo|Droid+Serif);*/

body {
  background-color: #A5CFF8;
  font-family: Arimo, sans-serif;
}
.navBar{
  text-decoration: none;
  font-family: cursive;
}
a:hover {
  color: #FF530D;
}
.response{
  font-size: 35px;
}
#info{
  font-size: 50px;
  color: #FAD187;
}
